html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }
  
  #main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: larger;
  }
  
  
  #login-page-admin {
    width: 200%;
    height: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }
  #login-page-user {
    width: 200%;
    height: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }